<h1>Songs</h1>

<%= form_for Song.new do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: "Title" %>
  </div>

  <div class="form-group">
  <%= f.submit %>
  </div>
<% end %>
