<div class="filteritem">
     <%= link_to "Sort by name", by_name_artists_path %>
   </div>
   <div class="filteritem">
        <%= link_to "Sort by time", by_created_at_artists_path %>
      </div>

      <ul>
         <% @artists.each do |artist| %>
         <% @artist = artist %>
           <li><%=artist.name%>
             <% @artist.photos.each do |photo| %>
             <%= image_tag photo.image.thumbnail %>
             <% end %>
           </li>
         <% end %>
         </ul>
