<% if @photos %>
  <% @photos.each do |photo| %>
    <div class="panel panel-default">
      <div class="photos">
        <%= image_tag photo.image.thumbnail %>
      </div>
    </div>
  <% end %>
<% end %>
